body {
	margin: 0;
	text-align: center;
}

header {
	margin-bottom: 10px;
	padding: 5px;
	background-color: #f6424b;
	color: whitesmoke;
}
button {
	padding: 5px;
	margin: 10px 0;
}

#saveButton {
	font-weight: 800;
}
button:hover {
	cursor: pointer;
	background-color: darkgray;
}

button:active {
	box-shadow: 5px 5px #666;
	transform: translateY(2px);
}

.url {
	width: 80%;
	font-size: 13px;
	padding: 10px;
	border-radius: 4px;
	margin: 10px 0;
}

.savePath {
	width: 73%;
	font-size: 13px;
	padding: 10px;
	border-radius: 4px;
}

input:focus,
button:focus {
	border: 2px solid #f6424b;
}

.run {
	border-radius: 4px;
}

.lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {

		transform: rotate(0deg);
	}
	100% {

		transform: rotate(360deg);
	}
}
